<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Hi, <%=current_user.username %></h1>
<div class="">
  <a href="/users/<%= current_user.id %>/tables/new">Create Table</a>
</div>
<div class="">
  <a href="/users/<%= current_user.id %>/tables">Review Tables</a>
</div>
<div class="">
  <a href="/users/<%= current_user.id %>/tractates">Review Tractates</a>
</div>
