<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Hi, <%=@user.username %></h1>
<h3>You have translated <%= @user.words_translated %> words.</h3>
<div>
  <a href="/users/<%= @user.id %>/tables/new">Create Table</a>
</div>
<div class="">
  <a href="/users/<%= @user.id %>/tables">Review Tables</a>
</div>
<div class="">
  <a href="/users/<%= @user.id %>/tractates">Review Tractates</a>
</div>
