<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>My Tables</h1>

<ul>
<% @user.tables.each do |table| %>
  <li>
    <a href="tables/<%= table.slug %>"><%= table.tractate ? table.tractate.name + ":"  : nil %><%= table.title %></a>
  </li>
<% end %>
</ul>

<a href="/users/<%= @user.id %>/tables/new">Create Table</a>
