<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @table.title %></h1>
<h2><%= @table.tractate.name %></h2>

<form id="save-form" action="/users/<%= current_user.id %>/tables/<%= @table.slug %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <table>
    <tr>
      <th>Hebrew</th>
      <th>Translation 1</th>
      <th>Translation 2</th>
      <th>Translation 3</th>
    </tr>
    <% @table.words.each do |word| %>
    <tr>
      <td><input type="text" name="hebrew_<%= word.id %>" value="<%= word.hebrew %>"></td>
      <td><input type="text" name="translation_one_<%= word.id %>" value="<%= word.translation_one %>"></td>
      <td><input type="text" name="translation_two_<%= word.id %>" value="<%= word.translation_two %>"></td>
      <td><input type="text" name="translation_three_<%= word.id %>" value="<%= word.translation_three %>"></td>
      <td><a href="/tables/<%= @table.slug %>/words/<%= word.id %>/delete">Delete</a></td>
    </tr>
      <% end %>
  </table>
  <input type="submit" form="save-form" value="Save">
</form>
