<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @table.title %></h1>
<h2><%= @table.tractate.name %></h2>

<table class="table-bordered" id="gemara-table">
  <tr>
    <th>Hebrew</th>
    <th>Translation 1</th>
    <th>Translation 2</th>
    <th>Translation 3</th>
  </tr>
  <% @table.words.each do |word| %>
  <tr>
    <td><%= word.hebrew %></td>
    <td><%= word.translation_one %></td>
    <td><%= word.translation_two %></td>
    <td><%= word.translation_three %></td>
  </tr>
    <% end %>
<table>
<a href="/users/<%= @user.id %>/tables/<%= @table.slug %>/edit">Edit</a><br>
<a href="/users/<%= @user.id %>/tables/<%= @table.slug %>/delete">Delete</a><br>
<button id="csvExport"> Export to CSV </button>
<button id="xlsExport" onClick="fnExcelReport()">Export to Excel</button>
<script type="text/javascript" src="/js/index.js"></script>
